<nav>
    <ul>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'cats'}}Cats{{/link-to}}</li>
        <li>{{#link-to 'index'}}Index{{/link-to}}</li>
    </ul>
</nav>
{{outlet}}
